<div class="container">
  <h1>Hello <%= current_user.name%>!</h1>
  <div class ="overview">
    <div class="cards">
      <h2>My bikes</h2>
      <div class="card-product">
        <% @bikes.each do |bike| %>
        <div class="card-product-info">
            <%= bike.name %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="cards">
      <h2>My bookings</h2>
      <div class="card-product">
        <% @bookings.each do |booking| %>
          <div class="card-product-info">
            <%= booking.bike.name %>
            <%= booking.starting_date %>
            <%= booking.ending_date %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
