<h1 class="new-title">Your bike</h1>
  <div class="new-form" >
    <%= simple_form_for @bike do |f| %>
  <div class="form_text">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form_description">
    <%= f.label :description%>
    <%= f.text_field :description, class: "form-control"%>
  </div>

  <div class="form_color">
    <%= f.label :color%>
    <%= f.text_field :color, class: "form-control" %>
  </div>

  <div class="form_price">
    <%= f.label :price %>
    <%= f.number_field :price, class: "form-control"  %>
  </div>

  <div class="form_photo">
    <%= f.input :photo, as: :file, class: "form-control"  %>
  </div>

    <%= f.submit class: "btn btn-new"%>
    <% end %>
</div>
