<p class="notice d-none" data-controller="sweetalert"><%= notice %></p>

<div class="mx-auto p-2"> <%=link_to "Return to others bike", bikes_path(@bike), class: "btn btn-warning rounded-3" %>
  <div class= "grande div">
    <div class="container bg-white d-flex mt-3 rounded-3">
      <div class="qassim col-6 d-flex justify-content-center align-items-center mr-3">
        <ul>
          <h3>Specificity</h3>
            <li> Color : <%= @bike.color %> </li>
            <li> Price : <%= @bike.price %> € </li>
            <li> Rented by : <%= @bike.user.name %> </li>
            <li> Description : <%= @bike.description %> </li>
        </ul>
      </div>

      <div class="Manuel col-6 d-flex justify-content-center align-items-center">
        <div class="mx-auto p-2"> <img style="width: 100%;" src="<%= @bike.image %>">
        </div>
        </div>
      </div>
    </div>

      <div class="title">
        <div class="mx-auto p-2 d-flex justify-content-center"><h1><%= @bike.name %></h1>
        </div>
      </div>
  </div>
</div>

<%# ici sera placé notre formulaire %>
<%# utilisation de simple form avec un "booking vide" %>
<%# utiliser flatpick et simpl form %>
<%= render "simple_form", booking: @booking, bike: @bike%>
<%# notre form a besoin d'un booking et d'un velo, passés en paramètre %>
